.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#flickr-link {
  color: white;
}

#flickr-link:hover {
  font-weight: bold;
}

#beach-header {
  font-size: 1.3em;
}

#caption {
  padding: 10%;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

main {
  display: flex;
  width: 100%;
}

#map {
  width: 100%;
}

#map-fail {
  font-size: 1.5em;
}

#sad-face {
  padding-top: 30vh;
  font-size: 4em;
  display: block;
}

#flag {
  color: blue;
}

#filter-container {
  padding-top: 6px;
  width: 20%;
  background:#f1e4b0;
  overflow-y: auto;
  height: 90vh;
}

#map-container {
  height: 90vh;
  width: 80%;
}

footer {
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: rgb(196, 186, 189);
}

header {
  padding-bottom: 1.2vh;
  padding-top: 0.7vh;
  /* background-color: #c2b280; */
  background: coral;
  font-family: 'Atomic Age', cursive;
}

.toggle-filters {
  float: left;
  margin-left: 5%;
  margin-right: 2%;
  margin-top: 8%;
}

.filter-button {
  background-color: rgb(191, 247, 255);
  font-family: 'Atomic Age', cursive;
}

.filter-button:hover {
  background-color: rgb(32, 223, 183);
}

.filter-button:focus {
  background-color: rgb(32, 223, 183);
}

#all-button {
  font-family: 'Atomic Age', cursive;
  background: rgb(223, 153, 60);
}

h1 {
  font-size: 2em;
}

@media screen and (min-width: 390px) {
  .toggle-filters {
    margin-top: 5%;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
  .toggle-filters {
    margin-top: 3%;
  }
}

@media screen and (min-width: 580px) {
  #caption {
    padding: 5%;
  }
  #beach-header {
    font-size: 1.7em;
  }
}

@media screen and (min-width: 900px) {
  .toggle-filters {
    margin-top: 2%;
  }
}

@media screen and (min-width: 1000px) {
  .toggle-filters {
    display: none;
  }
  h1 {
    font-size: 3em;
  }
}

@media screen and (min-width: 1200px) {
  #group {
    width: 90%;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
